.icon {
  font-size: 32px;
  line-height: 0px;

  cursor: pointer;
}

.icon.medium {
  font-size: 48px;
}

.icon.large {
  font-size: 82px;
}

/* some icons need visual size adjustment */
.icon.adjusted {
  font-size: 42px;
}

.rotate {
  animation-name: rotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  display: inline-block;
}

.rotate.delayed {
  animation-name: rotate-delayed;
  animation-duration: 5s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-delayed {
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
