.icon {
  font-size: 32px;
  line-height: 0px;
}

.icon.medium {
  font-size: 48px;
}

.icon.large {
  font-size: 82px;
}

/* some icons need visual size adjustment */
.icon.adjusted {
  font-size: 42px;
}

.rotate {
  animation-name: rotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  display: inline-block;
}

.rotate.delayed {
  animation-name: rotate-delayed;
  animation-duration: 5s;
}

@keyframes rotate {
  20% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-delayed {
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
