.auth-container {
  padding: 5vh 5%;
  height: 100%;
  max-width: 768px;
  margin: auto;
}

.links-container {
  padding-top: 2em;
  line-height: 3em;
  text-align: center;
}

a {
  text-decoration: none;
}

.auth-error {
  text-align: center;
  color: rgb(141, 5, 5);
  font-size: large;
  padding-bottom: 1em;
}

.auth-container > p {
  text-align: center;
  color: rgb(9, 109, 41);
  font-size: x-large;
  padding-top: 10%;
  margin-bottom: 1em;
}

.update-profile-user {
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 1em;
}
