.flashcards-container {
  display: grid;
  grid-template-rows: 65% 35%;
  grid-template-areas:
    "words"
    "controlButtons";

  padding: 10px 13px 10px;
  max-width: 768px;
  height: 100%;

  justify-items: center;
  margin: auto;
}

.word-container {
  grid-area: words;

  padding-top: 8%;
  width: 100%;

  text-align: center;
}

.word {
  display: inline-block;
  word-break: break-word;

  font-size: 6vh;
  font-weight: bolder;
  text-align: center;
}

.info {
  padding-top: 3%;

  font-size: 3vh;
  font-style: italic;
  text-align: center;
}

.results {
  padding-top: 8%;
  padding-left: 27%;

  text-align: left;
}

.card-buttons {
  grid-area: controlButtons;
  width: 90%;
  text-align: center;
}

.flex-width-400 {
  max-width: 400px;
  margin: auto;
}

.score-box {
  border: 1px solid grey;
  background-color: #cbf1cb;
  border-radius: 12px;
  padding: 1em 0;
  margin: 0 auto;
  max-width: 500px;
}

table {
  padding-top: 1em;
  margin: 0 auto;
}
