ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

form {
  max-width: 400px;
  margin: auto;
}

label {
  padding: 5px;
  font-size: large;
  color: rgb(21, 77, 122);
}

.error {
  display: inline;
  color: red;
  font-size: large;
}

input {
  padding: 5px 10px;
  margin: 5px 0px 15px;
  width: 100%;

  font-size: large;

  border-radius: 6px;
  border: 1px solid #beb9b9;
  outline: none;
}

.input-error {
  border: 2px solid #f86a0b;
}

input:hover,
input:focus {
  border: 1px solid #f86a0b;
}
