ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

form {
  max-width: 400px;
  margin: auto;
}

label {
  padding: 5px;
  font-size: large;
  color: rgb(21, 77, 122);
}

.error {
  display: inline;
  color: rgb(206, 17, 17);
  font-size: large;
}

input {
  padding: 5px 0px 5px 15px;
  margin: 5px 0px 15px;
  width: 100%;

  font-size: large;

  border-radius: 6px;
  border: 1px solid #beb9b9;
  outline: none;
}

.input-error {
  box-shadow: inset 9px 0px 0px #f86a0b;
}

.input-success {
  box-shadow: inset 9px 0px 0px #0bce0b;
}

input:hover,
input:focus {
  border: 1px solid #f86a0b;
}

.auth-button {
  display: block;
  margin: 15px auto 0px;
  padding: 2% 10%;

  border-radius: 6px;
  border: 1px solid #2c2a2a;

  font-size: large;
  font-weight: bolder;
  color: rgb(228, 236, 230);
  background-color: rgb(114, 143, 133);
  text-align: center;

  cursor: pointer;
}

.but-logout {
  padding: 2%;
  margin: 15px auto 35px;

  width: 70%;
  max-width: 300px;
}

.auth-button:hover {
  box-shadow: -2px -2px 5px rgb(157, 167, 159) inset;
  border-color: rgb(246, 247, 248);

  color: aliceblue;
}

.auth-button:disabled {
  box-shadow: -2px -2px 5px rgb(157, 167, 159) inset;
  border-color: rgb(246, 247, 248);

  color: rgb(5, 5, 5);
}
