/* imports Bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/* Provides general style rules for the whole app */
/* --------------------------------------------- */
html,
body,
#root {
  height: 100%;
}

/* Does not support responsiveness below 280px width */
body {
  min-width: 280px;
  font-size: 100%;
}

/* Apply box-sizing model */
* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
}

/* This is the layout applied to the whole app */
/* ------------------------------------------- */
.app-container {
  display: grid;
  grid-template-rows: 40px auto 45px;
  grid-template-areas:
    "header"
    "mainPage"
    "footer";

  height: 100%;
}

header {
  grid-area: header;
  background-color: rgb(224, 101, 19);
  border-bottom: 1px solid rgb(143, 143, 143);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: aliceblue;
}

footer {
  grid-area: footer;
  background-color: rgb(21, 77, 122);
  border-top: 1px solid rgb(0, 0, 0);
  color: aliceblue;
}

/* Main page can be scrolled if content is larger */
.main-page {
  grid-area: mainPage;
  overflow-y: auto;
}

/* Shared css classes among all elements of this project */
/* ----------------------------------------------- */
.flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.none-decoration {
  text-decoration: none;
}

.loading-container {
  text-align: center;
  padding: 6em 1em;
  font-weight: bolder;
}

/* APP colors */
.white {
  color: #ffffff;
}

.grey {
  color: #afaaaa;
}

.dark-green {
  color: #086108ec;
}

.red {
  color: rgb(221, 25, 25);
}

.dark-red {
  color: rgb(122, 2, 2);
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
